.clear { clear: both; }

#capitol-image-wrapper {
  position: relative;
  height: 327px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    width: 630px;
    height: 327px;
  }
}

#cboxContent {
  background: #ffffff;
}

.ui-tabs {
  font-size:12px;
} 

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    font-weight: bold;
    font-size:12px;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: url("http://stmedia.startribune.com/images/ui-bg_glass_75_1x400.png") repeat-x scroll 50% 50% #BCA056;
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: url("http://stmedia.startribune.com/images/ui-bg_glass_65_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
  border: 1px solid #AAAAAA;
  color: #212121;
  font-weight: normal;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #ffffff;
  text-shadow:2px 2px 4px #333333;
  text-decoration: none;
}


.ui-state-active {
background-color:#ffffff;

}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #111111;
   text-shadow:none;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .5em .5em;
}

#tabs {
  width:630px;
}

.cardItems {
  width:630px;
  display: inline-block;
  margin-left: -12px;
}

#intro{
    background: url(http://stmedia.startribune.com/images/CRintro_sprite.png) no-repeat;
    background-position:0px 0px;
    height: 168px;
    width: 304px;
    float:left;
    margin:10px 10px 30px 0;
}

#intro:hover {
    background: url(http://stmedia.startribune.com/images/CRintro_sprite.png)  no-repeat;
    background-position:0px 168px;
}

#floorText{
    height: 168px;
    width: 304px;
    float:left;
    margin:10px 10px 30px 0;
}

#rathskellar {
    background: url(http://stmedia.startribune.com/images/CRRathskellar_sprite.png) no-repeat;
    background-position:0px 0px;
    height: 168px;
    width: 304px;
    float:left;
    margin:0 10px 10px 0;
}

#rathskellar:hover {
    background: url(http://stmedia.startribune.com/images/CRRathskellar_sprite.png)  no-repeat;
    background-position:0px -168px;
}

#supremeCourt {
    background: url(http://stmedia.startribune.com/images/CRSupremeCourt_sprite.png) no-repeat;
    background-position:0px 0px;
    height: 168px;
    width: 304px;
    float:left;
    margin:0 10px 10px 0;
}

#supremeCourt:hover {
    background: url(http://stmedia.startribune.com/images/CRSupremeCourt_sprite.png)  no-repeat;
    background-position:0px -168px;
}

#hallways {
    background: url(http://stmedia.startribune.com/images/CRhallways_sprite.png) no-repeat;
    background-position:0px 0px;
    height: 168px;
    width: 304px;
    float:left;
    margin:0 10px 10px 0;
}

#hallways:hover {
    background: url(http://stmedia.startribune.com/images/CRhallways_sprite.png)  no-repeat;
    background-position:0px -168px;
}

#pressOffices {
    background: url(http://stmedia.startribune.com/images/CRpressOffices_sprite.png) no-repeat;
    background-position:0px 0px;
    height: 168px;
    width: 304px;
    float:left;
    margin:0 10px 10px 0;
}

#pressOffices:hover {
    background: url(http://stmedia.startribune.com/images/CRpressOffices_sprite.png)  no-repeat;
    background-position:0px -168px;
}

.ui-widget-content {
    background: url("http://stmedia.startribune.com/images/ui-bg_flat_75_40x100.png") repeat-x scroll 50% 50% #ffffff;
    border: 1px solid #666666;
    color: #222222;
}

