/* line 2, ../../sass/base.scss */
.clear {
  clear: both;
}

/* line 6, ../../sass/base.scss */
#capitol-image-wrapper {
  position: relative;
  height: 327px;
}

/* line 11, ../../sass/base.scss */
#capitol-image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 630px;
  height: 327px;
}

/* line 21, ../../sass/base.scss */
#cboxContent {
  background: #ffffff;
}

/* line 27, ../../sass/base.scss */
#tabs {
  width: 630px;
}

/* line 31, ../../sass/base.scss */
.cardItems {
  width: 630px;
  display: inline-block;
}

/* line 36, ../../sass/base.scss */
#intro {
  background: url(http://stmedia.startribune.com/images/CRintro_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 10px 10px 30px 0;
}

/* line 45, ../../sass/base.scss */
#intro:hover {
  background: url(http://stmedia.startribune.com/images/CRintro_sprite.png) no-repeat;
  background-position: 0px 168px;
}

/* line 50, ../../sass/base.scss */
#floorText {
  height: 168px;
  width: 304px;
  float: left;
  margin: 10px 10px 30px 0;
}

/* line 57, ../../sass/base.scss */
#rathskeller {
  background: url(http://stmedia.startribune.com/images/CRRathskeller_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 66, ../../sass/base.scss */
#rathskeller:hover {
  background-position: 0px -168px;
}

/* line 70, ../../sass/base.scss */
#supremeCourt {
  background: url(http://stmedia.startribune.com/images/CRSupremeCourt_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 79, ../../sass/base.scss */
#supremeCourt:hover {
  background-position: 0px -168px;
}

/* line 83, ../../sass/base.scss */
#hallways {
  background: url(http://stmedia.startribune.com/images/CRhallways_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 92, ../../sass/base.scss */
#hallways:hover {
  background-position: 0px -168px;
}

/* line 96, ../../sass/base.scss */
#pressOffices {
  background: url(http://stmedia.startribune.com/images/CRpressOffices_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 105, ../../sass/base.scss */
#pressOffices:hover {
  background-position: 0px -168px;
}

/* line 111, ../../sass/base.scss */
#g-staircases {
  background: url(http://stmedia.startribune.com/images/CRg-stairways_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 120, ../../sass/base.scss */
#g-staircases:hover {
  background-position: 0px -168px;
}

/* line 124, ../../sass/base.scss */
#g-halls {
  background: url(http://stmedia.startribune.com/images/CRg-halls_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 133, ../../sass/base.scss */
#g-halls:hover {
  background-position: 0px -168px;
}

/* line 139, ../../sass/base.scss */
#one-reception {
  background: url(http://stmedia.startribune.com/images/CR1-receptionRoom_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 148, ../../sass/base.scss */
#one-reception:hover {
  background-position: 0px -168px;
}

/* line 152, ../../sass/base.scss */
#one-interiors {
  background: url(http://stmedia.startribune.com/images/CR1-interiors_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 161, ../../sass/base.scss */
#one-interiors:hover {
  background-position: 0px -168px;
}

/* line 166, ../../sass/base.scss */
#two-supreme {
  background: url(http://stmedia.startribune.com/images/CR2-supremeCourt_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 175, ../../sass/base.scss */
#two-supreme:hover {
  background-position: 0px -168px;
}

/* line 179, ../../sass/base.scss */
#two-house {
  background: url(http://stmedia.startribune.com/images/CR2-house_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 188, ../../sass/base.scss */
#two-house:hover {
  background: url(http://stmedia.startribune.com/images/CR2-house_sprite.png) no-repeat;
  background-position: 0px -168px;
}

/* line 193, ../../sass/base.scss */
#two-senate {
  background: url(http://stmedia.startribune.com/images/CR2-senate_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 202, ../../sass/base.scss */
#two-senate:hover {
  background-position: 0px -168px;
}

/* line 206, ../../sass/base.scss */
#one-rotunda {
  background: url(http://stmedia.startribune.com/images/CR1-rotunda_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 215, ../../sass/base.scss */
#one-rotunda:hover {
  background-position: 0px -168px;
}

/* line 219, ../../sass/base.scss */
#two-hallways {
  background: url(http://stmedia.startribune.com/images/CR2-hallways_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 228, ../../sass/base.scss */
#two-hallways:hover {
  background-position: 0px -168px;
}

/* line 232, ../../sass/base.scss */
#two-terrace {
  background: url(http://stmedia.startribune.com/images/CR2-terrace_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 241, ../../sass/base.scss */
#two-terrace:hover {
  background-position: 0px -168px;
}

/* line 246, ../../sass/base.scss */
#three-domeInterior {
  background: url(http://stmedia.startribune.com/images/CR3-domeInterior_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 255, ../../sass/base.scss */
#three-domeInterior:hover {
  background-position: 0px -168px;
}

/* line 259, ../../sass/base.scss */
#three-artwork {
  background: url(http://stmedia.startribune.com/images/CR3-artwork_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 268, ../../sass/base.scss */
#three-artwork:hover {
  background-position: 0px -168px;
}

/* line 272, ../../sass/base.scss */
#three-gophers {
  background: url(http://stmedia.startribune.com/images/CR3-gophers_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 281, ../../sass/base.scss */
#three-gophers:hover {
  background-position: 0px -168px;
}

/* line 286, ../../sass/base.scss */
#exteriorStone {
  background: url(http://stmedia.startribune.com/images/CRexterior_sprite.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 295, ../../sass/base.scss */
#exteriorStone:hover {
  background: url(http://stmedia.startribune.com/images/CRexterior_sprite.png) no-repeat;
  background-position: 0px -168px;
}

/* line 300, ../../sass/base.scss */
#lionsHead {
  background: url(http://stmedia.startribune.com/images/CRlionsHead.png) no-repeat;
  background-position: 0px 0px;
  height: 168px;
  width: 304px;
  float: left;
  margin: 0 10px 10px 0;
}

/* line 309, ../../sass/base.scss */
#lionsHead:hover {
  background: url(http://stmedia.startribune.com/images/CRlionsHead.png) no-repeat;
  background-position: 0px -168px;
}

/* line 315, ../../sass/base.scss */
h1 {
  font-family: popular-bold;
  font-size: 4.75em;
  text-align: center;
  line-height: 85%;
}

/* line 316, ../../sass/base.scss */
h1 .topline {
  display: block;
  font-size: .75em;
}

/* line 317, ../../sass/base.scss */
#tabs-0, #tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6 {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 318, ../../sass/base.scss */
.byline {
  font-size: 1.15em;
  text-align: center;
  line-height: 140%;
  margin-bottom: 3px;
}

/* line 319, ../../sass/base.scss */
.body {
  font-family: georgia,serif;
  font-size: 1.35em;
  line-height: 140%;
  color: 333;
  width: 529px;
  margin: 18px auto;
}

/* line 320, ../../sass/base.scss */
.dropDome {
  float: left;
  padding-right: 18px;
  position: relative;
  top: -6px;
  line-height: 100%;
  width: 92px;
}

/* Layout helpers
----------------------------------*/
/* line 324, ../../sass/base.scss */
.ui-helper-hidden {
  display: none;
}

/* line 327, ../../sass/base.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 337, ../../sass/base.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 348, ../../sass/base.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 353, ../../sass/base.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 356, ../../sass/base.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

/* line 359, ../../sass/base.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 369, ../../sass/base.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 376, ../../sass/base.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 388, ../../sass/base.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 395, ../../sass/base.scss */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */
}

/* line 403, ../../sass/base.scss */
.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

/* line 406, ../../sass/base.scss */
.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}

/* line 409, ../../sass/base.scss */
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}

/* line 412, ../../sass/base.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

/* line 418, ../../sass/base.scss */
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

/* line 423, ../../sass/base.scss */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

/* line 429, ../../sass/base.scss */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */
}

/* line 444, ../../sass/base.scss */
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
/* line 448, ../../sass/base.scss */
.ui-button-icon-only {
  width: 2.2em;
}

/* button elements seem to need a little more width */
/* line 452, ../../sass/base.scss */
button.ui-button-icon-only {
  width: 2.4em;
}

/* line 455, ../../sass/base.scss */
.ui-button-icons-only {
  width: 3.4em;
}

/* line 458, ../../sass/base.scss */
button.ui-button-icons-only {
  width: 3.7em;
}

/* button text element */
/* line 463, ../../sass/base.scss */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

/* line 467, ../../sass/base.scss */
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}

/* line 471, ../../sass/base.scss */
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

/* line 476, ../../sass/base.scss */
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}

/* line 480, ../../sass/base.scss */
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}

/* line 483, ../../sass/base.scss */
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* no icon support for input elements, provide padding by default */
/* line 488, ../../sass/base.scss */
input.ui-button {
  padding: .4em 1em;
}

/* button icon element(s) */
/* line 497, ../../sass/base.scss */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 502, ../../sass/base.scss */
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* line 508, ../../sass/base.scss */
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}

/* line 513, ../../sass/base.scss */
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}

/* button sets */
/* line 518, ../../sass/base.scss */
.ui-buttonset {
  margin-right: 7px;
}

/* line 521, ../../sass/base.scss */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
/* line 529, ../../sass/base.scss */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 533, ../../sass/base.scss */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

/* line 538, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

/* line 543, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

/* line 550, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

/* line 553, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

/* line 556, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

/* line 559, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

/* line 562, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

/* line 566, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

/* line 574, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

/* line 579, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

/* line 584, ../../sass/base.scss */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

/* line 587, ../../sass/base.scss */
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

/* line 593, ../../sass/base.scss */
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

/* line 599, ../../sass/base.scss */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}

/* line 604, ../../sass/base.scss */
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

/* line 610, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* line 618, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

/* line 626, ../../sass/base.scss */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* line 631, ../../sass/base.scss */
.ui-dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}

/* line 639, ../../sass/base.scss */
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}

/* line 643, ../../sass/base.scss */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 651, ../../sass/base.scss */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

/* line 660, ../../sass/base.scss */
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}

/* line 667, ../../sass/base.scss */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}

/* line 674, ../../sass/base.scss */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

/* line 677, ../../sass/base.scss */
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}

/* line 681, ../../sass/base.scss */
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}

/* line 688, ../../sass/base.scss */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* line 691, ../../sass/base.scss */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}

/* line 698, ../../sass/base.scss */
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}

/* line 702, ../../sass/base.scss */
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  /* support: IE10, see #8844 */
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

/* line 709, ../../sass/base.scss */
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}

/* line 716, ../../sass/base.scss */
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  /* support: IE7 */
  font-weight: normal;
}

/* line 725, ../../sass/base.scss */
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/* line 730, ../../sass/base.scss */
.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}

/* line 735, ../../sass/base.scss */
.ui-menu .ui-state-disabled a {
  cursor: default;
}

/* icon support */
/* line 740, ../../sass/base.scss */
.ui-menu-icons {
  position: relative;
}

/* line 743, ../../sass/base.scss */
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}

/* left-aligned */
/* line 749, ../../sass/base.scss */
.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}

/* right-aligned */
/* line 756, ../../sass/base.scss */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

/* line 760, ../../sass/base.scss */
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}

/* line 765, ../../sass/base.scss */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* line 769, ../../sass/base.scss */
.ui-progressbar .ui-progressbar-overlay {
  background: url("images/animated-overlay.gif");
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 775, ../../sass/base.scss */
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

/* line 778, ../../sass/base.scss */
.ui-resizable {
  position: relative;
}

/* line 781, ../../sass/base.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 787, ../../sass/base.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 790, ../../sass/base.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 797, ../../sass/base.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 804, ../../sass/base.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 811, ../../sass/base.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 818, ../../sass/base.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 825, ../../sass/base.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 832, ../../sass/base.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 839, ../../sass/base.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 846, ../../sass/base.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 851, ../../sass/base.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 855, ../../sass/base.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

/* line 862, ../../sass/base.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
/* line 873, ../../sass/base.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* line 877, ../../sass/base.scss */
.ui-slider-horizontal {
  height: .8em;
}

/* line 880, ../../sass/base.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

/* line 884, ../../sass/base.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 888, ../../sass/base.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 891, ../../sass/base.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 895, ../../sass/base.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 899, ../../sass/base.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

/* line 904, ../../sass/base.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 908, ../../sass/base.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 911, ../../sass/base.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* line 914, ../../sass/base.scss */
.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

/* line 921, ../../sass/base.scss */
.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}

/* line 931, ../../sass/base.scss */
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}

/* more specificity required here to override default borders */
/* line 945, ../../sass/base.scss */
.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* vertically center icon */
/* line 951, ../../sass/base.scss */
.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0;
}

/* line 957, ../../sass/base.scss */
.ui-spinner-up {
  top: 0;
}

/* line 960, ../../sass/base.scss */
.ui-spinner-down {
  bottom: 0;
}

/* TR overrides */
/* line 965, ../../sass/base.scss */
.ui-spinner .ui-icon-triangle-1-s {
  /* need to fix icons sprite */
  background-position: -65px -16px;
}

/* line 969, ../../sass/base.scss */
.ui-tabs {
  position: relative;
  /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
}

/* line 973, ../../sass/base.scss */
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 650px;
}

/* line 979, ../../sass/base.scss */
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 0 2px 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 989, ../../sass/base.scss */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em .56em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.14em;
}

/* line 1000, ../../sass/base.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text;
}

/* line 1003, ../../sass/base.scss */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

/* line 1006, ../../sass/base.scss */
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}

/* line 1012, ../../sass/base.scss */
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

/* line 1020, ../../sass/base.scss */
body .ui-tooltip {
  border-width: 2px;
}

/* Component containers
----------------------------------*/
/* line 1026, ../../sass/base.scss */
.ui-widget {
  font-family: helvetica,arial,sans-serif;
}

/* line 1033, ../../sass/base.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget-content a {
  color: #222222;
}

/* line 1039, ../../sass/base.scss */
.ui-widget-header a {
  color: #222222;
}

/* Interaction states
----------------------------------*/
/* line 1047, ../../sass/base.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background: #af9550;
  font-weight: normal;
  color: #fff;
}

/* line 1055, ../../sass/base.scss */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #fff;
  text-decoration: none;
}

/* line 1066, ../../sass/base.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #e1d68f;
}

/* line 1079, ../../sass/base.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #212121;
  text-decoration: none;
}

/* line 1088, ../../sass/base.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #efefef;
}

/* line 1095, ../../sass/base.scss */
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
/* line 1104, ../../sass/base.scss */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}

/* line 1111, ../../sass/base.scss */
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}

/* line 1116, ../../sass/base.scss */
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}

/* line 1123, ../../sass/base.scss */
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}

/* line 1128, ../../sass/base.scss */
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

/* line 1133, ../../sass/base.scss */
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 1138, ../../sass/base.scss */
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 1145, ../../sass/base.scss */
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 1150, ../../sass/base.scss */
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* line 1154, ../../sass/base.scss */
.ui-state-active {
  background-color: #ffffff;
}

/* line 1158, ../../sass/base.scss */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #111111;
  text-shadow: none;
  text-decoration: none;
}
