@font-face {
  font-family: Popular;
  src: url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-2.eot?") format("embedded-opentype"), url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-3.woff") format("woff"), url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-1.ttf") format("truetype"), url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Popular-medium;
  src: url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-2.eot?") format("embedded-opentype"), url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-3.woff") format("woff"), url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-1.ttf") format("truetype"), url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Popular-bold;
  src: url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-2.eot?") format("embedded-opentype"), url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-3.woff") format("woff"), url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-1.ttf") format("truetype"), url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-4.svg#web") format("svg");
  font-style: normal;
  font-weight: bold;
}

/* line 31, ../../sass/parallax.scss */
.button {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 391px;
  left: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(http://stmedia.startribune.com/designimages/downArrow.png);
}

/* line 42, ../../sass/parallax.scss */
.buttonFoo {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 85px;
  left: 75px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(http://stmedia.startribune.com/designimages/downArrow.png);
}

/* line 54, ../../sass/parallax.scss */
.nextChapter {
  font-family: Popular, sans-serif;
  text-align: center;
  display: block;
  width: 198px;
  position: absolute;
  bottom: 40px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 13px;
  padding: 5px 0;
}

/* line 68, ../../sass/parallax.scss */
.slideno {
  bottom: 70px;
}

/* line 72, ../../sass/parallax.scss */
#slide1, #slide2, #slide3, #slide4, #slide5 {
  background: #aaaaaa;
  background-image: url(http://stmedia.startribune.com/images/capitolBackground.png);
}

/* line 78, ../../sass/parallax.scss */
.navigation {
  top: 0px;
  font-family: Popular, sans-serif;
  width: 188px;
}

/* line 84, ../../sass/parallax.scss */
.navigation h2 {
  font-size: 18px;
  margin: 5px 0 10px 5px;
  line-height: normal;
  font-family: Popular-bold;
}

/* line 91, ../../sass/parallax.scss */
.navigation h3 {
  font-size: 14px;
  margin: 15px 0 5px 5px;
  line-height: normal;
  text-decoration: none;
}

/* line 99, ../../sass/parallax.scss */
.navigation li:hover, .active {
  font-size: 14px !important;
  cursor: pointer;
  width: 178px !important;
  line-height: 30px;
}

/* line 106, ../../sass/parallax.scss */
.navigation li.hover {
  font-size: 14px;
}

/* line 110, ../../sass/parallax.scss */
.navigation li.active {
  color: #ffffff;
  font-size: 14px;
}

/* line 115, ../../sass/parallax.scss */
.navigation li {
  color: #a17d1a;
  display: block;
  padding: 0 10px;
  line-height: 30px;
  margin-bottom: 2px;
  font-weight: normal;
  -webkit-transition: all .2s ease-in-out;
  border-bottom: 1px solid black;
  text-align: left;
  width: 178px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

/******************************
 SLIDES
*******************************/
/* line 133, ../../sass/parallax.scss */
#slide1 .leftNavText, #slide2 .leftNavText, #slide3 .leftNavText, #slide4 .leftNavText, #slide5 .leftNavText, #slide6 .leftNavText {
  position: absolute;
  top: 350px;
  left: 10px;
  width: 170px;
  font-size: 14px;
  color: #666666;
}

/* line 143, ../../sass/parallax.scss */
#tabs {
  display: none;
  margin-top: 12px;
}

/* line 144, ../../sass/parallax.scss */
#tabs.ui-tabs {
  display: block;
}

/* line 145, ../../sass/parallax.scss */
#capitol-image-wrapper {
  background: #fff;
}
